@import "../vars";
@import "../mixins";

.excel__formula {
  display: flex;
  align-items: center;
  height: $formula-height;
  position: fixed;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height;

  background: #fff;
  border-bottom: 1px solid $border-color;
  z-index: 10000;
}

.excel__formula-info {
  min-width: $info-cell-width;

  font-size: 18px;
  font-style: italic;
  text-align: center;

  border-right: 1px solid $border-color;
}

.excel__formula-input {
  width: 100%;
  height: 100%;
  padding: 4px;

  font-size: 12px;
  color: #000;

  outline: none;
}