@mixin button($color: green) {
  display: inline-block;
  padding: 3px;
  min-height: 24px;
  min-width: 24px;
  position: relative;

  & svg {
    width: 18px;
    height: 18px;

    fill: rgba($color: #000000, $alpha: .7);
  }

  &:active, &.active {
    svg {
      fill: $color;
    }
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}