@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
  box-shadow: 0 0 1px rgba(60, 64, 67, .15) inset;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background: #7c7c7c;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(60, 64, 67, .8);
}

@import "./blocks/excel";
@import "./blocks/header";
@import "./blocks/toolbar";
@import "./blocks/formula";
@import "./blocks/table";
@import "./blocks/buttons";
@import "./blocks/dashboard";